.container-dark {
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.nav-dark {
  background: #161616;
  box-shadow: 1px 1px 5px 1px #0000003b;
}

.content-dark {
  background: #161616;
  color: white;
}

.sun {
  color: white;
}