.container-light {
  background-image: linear-gradient(315deg, #82cbff 0%, #79e4f5 74%);
}

.nav-light {
  background: #f5f5f5;
  box-shadow: 1px 1px 5px 1px #8282823b;
}

.content-light {
  background: #f5f5f5;
  color: #161616;
}

.moon {
  color: #161616;
}
